*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothinh: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --gray-100:#E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;
    --gray-700: #3a3a46;


    --ff-sans:'Asap', system-ui,sans-serif;
    --fw-base: 14px;
    --fw-md: 2.5rem;
    --fw-bold: 800;

    --title-md: 1.5rem;
    --title-sm: 1rem;

    --py-base: 7.5rem;
    --py-lg: 4.5rem;
    --py-xl: 5.5rem;
    --py-md: 8rem;
    --py-oi: 5rem;
}

.bg { 
    background: var(--gray-700);
    
}



.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.grid {
    display: grid;
}


html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base) ;
    line-height: 1.6;

    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    color: var(--gray-100);

}

h2 {
    font-size: 1.5rem;
    color: var(--gray-100);
    font-weight: var(--title-sm);
}

h3 {
    color: var(--gray-100);
    font-weight: var(--title-sm);
}

span {

    font-size: 1rem;
    color: var(--gray-200);
}

.destaque {
    color: #E3646E;
}

.destaque-2 {
    color: #BB72E9;
}

p {
    font-size: 0.9rem;
    color: var(--gray-300);
}



.oi {
    background: url('../assets/Background_Intro.png') no-repeat center center;
    background-size: 100%; /* cobre toda a tela */
    background-attachment: 100%; /* fixa a imagem ao rolar a página */
    width: auto;
    height: auto;
    padding: 120px;
}



