.container {
    max-width: auto;
    width: 100%;
    margin-inline: auto;

    justify-content: center;

}


.container-2 {
    text-align: center;
    margin-left: 4;
    
}



.py-lg {
    margin-left: 400px;
    margin-top: 40px;
}

.py-xg {
    margin-left: 550px;
    margin-top: 40px;
    gap: 3rem;
}
